mutagen
pycryptodomex
websockets
brotli; platform_python_implementation=='CPython'
brotlicffi; platform_python_implementation!='CPython'
certifi
backoff
pyrate-limiter
selenium
httpx
selenium-wire @ git+https://github.com/atgarcia78/selenium-wire.git
h2 @ git+https://github.com/atgarcia78/h2.git
